.wallpaper {
  background-size: cover;
  background-position: center center;
}

.dashboard {
  flex: 1 1 100%;
  align-content: center;
  flex-flow: row wrap;
  margin: 100px auto 0;
  width: 800px;
}

.tile-large {
  align-items: center;
  flex-direction: column;
}

.tile-large .tile-thumbnail {
  background: #fff;
  background-size: cover;
  border-radius: 12px;
  height: 100px;
  position: relative;
  transition: transform 80ms ease-out;
  width: 160px;
}

.tile-large:hover .tile-thumbnail {
  transform: scale(1.1);
}

.tile-title {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  opacity: 0;
  height: 30px;
  padding: 15px 0 0;
  text-shadow: 0 2px 10px rgba(0,0,0,0.9);
  transition: opacity 160ms ease-out;
  white-space: nowrap;
}
.tile-large:hover .tile-title {
  opacity: 1;
}

.dashboard .tile-large {
  padding: 20px 20px 0;
}
.dashboard .tile-thumbnail {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}